@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Cairo', sans-serif; /* ده هيخلي الموقع كله ياخد الخط الجديد */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}